# Logs
logs
*.log

dist
obj
migrations
bin
.vs
dist-ssr
*.local
MainDatabase.db
MainDatabase.db-shm
MainDatabase.db-wal

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
